/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #8fd0f4
$textColor = #0f141a
$borderColor = #e2e3e5

// layout
$contentWidth = 900px
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$homePageWidth = 960px


$darkTextColor = rgba(0, 0, 0, 0.775)

// colors
// $accentColor = lighten(#4a154b, 50%)

$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = rgb(255, 255, 255)
$headerBgColor = $bgColor;

$footerBgColor = #f6f4f4
$footerColor = #9b9797

$newsletterBgColor = #f8f8f8